.container
 {background-color: lightblue;
}
.h
{
    margin: 10px;
}

.img1{
    height: 150px !important;
    width: 150px !important;
}

.thumb {
    position: relative;
    
}

.caption {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    
}


/*footer
footer{
    background: black;
    color: white;
    border-top: 10px teal solid;
    
}
footer p{
    text-align: center;
}



<div class="container">
            <!--Main contact-->
            <div class="row">
                <div class="col-4">
                    <div class="img2 thumbnail float-left p-3">
                        <div>Pic1</div><img class="img-responsive" src="images/1.jpg">
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="img2 thumbnail float-left p-3">
                        <div>Pic1</div><img class="img-responsive" src="images/2.jpg">
                    </div>
            </div>




            <div class="row">
                <div class="col-4">
                    <span class="img2 float-left p-3">
                        <div>Pic1</div><img class="thumbnail " alt="Responsive image" src="images/3.jpg">
                    </span>
                </div>
                <div class="col-4"></div>
                <span class="img2 float-left p-3">
                    <div>Pic2</div><img class="thumbnail " alt="Responsive image" src="images/4.jpg">
                </span>
            </div>

        

        <div class="row">
            <div class="col-4">
                <span class="img2 float-left p-3">
                    <div>Pic1</div><img class="thumbnail" alt="Responsive image" src="images/5.gif">
                </span>
            </div>


        </div>

        </div>
