body, #intro{
    position: relative;
    height: 100%;
    background-image: url("../images/grey.jpg");
    font-family: Arial, Helvetica, sans-serif;
  

}

    .h02{
      border-bottom: 2px gray solid;
    }
.a01{
    background: #4aaaa5;
    text-align: center;
    padding: 0px 15px;
    margin-left: -15;
    
}

.ConMain
 {background-color:white;
    margin-top: 10px;
    margin-bottom: 2em;
}
.h
{
    margin: 200px;
}

.img1{
    height: 150px !important;
    width: 150px !important;
}



.thumb {
    position: relative;

    
}

.caption2 {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    bottom: 20px;
    left: 15px;
    right: 15px;
    text-align: center;
    padding-top: 10px;
 
}
.img02{
    min-height: 100%;
  width: 100%;
}

input[type=submit]{
    background: #4aaaa5;
    border: none;
    margin-left: 0 !important;
}

footer {
    background: black;
    color: white;
    border-top: 10px teal solid;
    text-align: center;
    position: sticky;
    bottom: 0px;
}


