body, #intro{
    height: 100%;
    background: gray;
}

    .h02{
      border-bottom: 2px gray solid;
    }


.ConMain
 {background-color: lightblue;
    margin-top: 2px;
}
.h
{
    margin: 200px;
}

.img1{
    height: 150px !important;
    width: 150px !important;
}

.thumb {
    position: relative;

    
}

.caption2 {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    bottom: 20px;
    left: 15px;
    right: 15px;
    text-align: center;
    padding-top: 10px;
 
}
.img02{
    min-height: 100%;
  width: 100%;
}

footer{
    background: black;
    color: white;
    border-top: 10px teal solid;
    
}
footer p{
    text-align: center;
}


